{{>header}}
<body>
<div>
    <h3>채팅방 리스트</h3>
    <div>
        <label>방제목</label>
        <input id="roomName" type="text"/>
        <button type="button" onClick="createRoom()">채팅방 개설</button>
    </div>
    <ul>
        {{#rooms}}
        <li>
            <button type="button" onClick="enterRoom(`{{id}}`)"> {{name}} </button>
        </li>
        {{/rooms}}
    </ul>
</div>
{{>footer}}
<!-- JavaScript -->

<script>
    localStorage.setItem('wschat.uuid','testuuid');
    createRoom = () => {
        const roomName = document.querySelector("#roomName").value;
        console.log(roomName);
        if("" === roomName) {
            alert("방 제목을 입력해 주십시요.");
            return;
        } else {
            let params = new URLSearchParams();
            params.append("name", roomName);
            console.log(params)
            axios.post('/chat-service/chat/room', params)
            .then(
                response => {
                    console.log('---',response.data);
                    document.querySelector("#roomName").innerText ='';
                    window.location.href="/chat-service/chat/room";
                }
            )
            .catch( response => {
                console.log(response);
                alert("채팅방 개설에 실패하였습니다.");
            });
        }
    };
    enterRoom= (roomId) => {
        console.log("enterRoom btn");
        const sender = prompt('대화명을 입력해 주세요.');
        localStorage.setItem('wschat.sender',sender);
        localStorage.setItem('wschat.roomId',roomId);
        location.href="/chat-service/chat/room/enter/"+roomId;
    };
</script>