{{>header}}
<body>
<div>
    <h2 id="roomId"></h2>
</div>
<div >
    <label >내용</label>
    <input type="text" id="inputMsg">
    <button  type="button" onClick="sendMessage()">보내기</button>
</div>
<ul id="msglist">
    
</ul>
</body>
{{>footer}}
<!-- JavaScript -->
<script>
    // websocket & stomp initialize
    var sock = new SockJS("/ws");
    var ws = Stomp.over(sock);
    let roomTitle = document.querySelector("#roomId");
    let msgList = document.querySelector("#msglist");
    
    let data= {
        roomId: localStorage.getItem('wschat.roomId'),
        room: {},
        sender: localStorage.getItem('wschat.sender'),
        chats: []
    }

    findRoom = function() {
        axios.get('/chat/room/'+data.roomId).then(response => { 
            // alert('response: '+ response);
            data.room = response.data.name;
            data.chats = response.data.chats;
            console.log("roomName:",data.room);
            console.log("chats:",JSON.stringify(data.chats));

            document.querySelector("#roomId").innerText = data.room;

            
            let recordedChats = "";
            // for(let i=0; i<data.chats.length; i++){
            //     const liElem = document.createElement("li");
            //     liElem.innerText= "["+ data.chats[i].nickname + "] "+ data.chats[i].message;
            //     msgList.append(liElem);
            // }
            
        });
    }
    sendMessage= () => {
        console.log("send btn");
        inputMsg = document.querySelector("#inputMsg").value;
        ws.send("/app/chat/message", {}, JSON.stringify(
                {
                    roomId:data.roomId,
                    nickname:data.sender,
                    senderRole: "VIEWER",   // VIEWER, STREAMER
                    chatType: "NORMAL",     // NORMAL, PINNED
                    message: inputMsg,
                    timestamp: new Date()   // GMT(대한민국 표준시)
                }));
        this.message = '';
    },
    recvMessage= (chatDto) => {
        console.log("reved msg");
        
        const liElem = document.createElement("li");
        liElem.innerText = "["+ chatDto.nickname + "] "+ chatDto.message;
        msgList.append(liElem);
    
    }

    findRoom();


    // pub/sub event
    ws.connect({}, function(frame) {
        ws.subscribe("/topic/chat/room/"+data.roomId, function(resp) {
            console.log("received");
            const chatDto = JSON.parse(resp.body);
            console.log("sub.......", message, "..........", chatDto, "........end");
            recvMessage(chatDto);
        });
    }, function(error) {
        alert("error "+error);
    });
</script>